@mixin iconButton {
	width: 24px;
	height: 24px;
	box-sizing: content-box;
	cursor: pointer;
	padding: 12px;
	position: relative;
	svg {
		opacity: 0.6;
		width: 24px;
		height: 24px;
		display: block;
	}
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		border-radius: 50%;
		opacity: 0;
		background-color: var(--hover-overlay-color);
		transition: .2s;
	}
	&:hover::after { opacity: 0.07; }
	&:active::after { opacity: 0.15; }
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	--subtle-text-color: rgba(255, 255, 255, 0.4);
	--normal-text-color: rgba(255, 255, 255, 0.6);
	--error-text-color: tomato;

	--level-0-color: #181818;
	--level-1-color: #202020;
	--level-2-color: #282828;
	--level-3-color: #303030;

	--preview-background-color: rgba(0, 0, 0, 0.2);
	--hover-overlay-color: white;

	--terminal-background-color: #101010;
	--terminal-text-color: var(--normal-text-color);

	margin: 0;
	background-color: var(--level-0-color);
	color: var(--normal-text-color);
	font: 18px / 1.5 monospace;
}

[data-theme=light] {
	--subtle-text-color: rgba(0, 0, 0, 0.3);
	--normal-text-color: rgba(0, 0, 0, 0.5);
	--error-text-color: tomato;

	--preview-background-color: rgba(0, 0, 0, 0.03);
	--hover-overlay-color: black;

	--level-0-color: white;
	--level-1-color: #fafafa;
	--level-2-color: #f0f0f0;
	--level-3-color: #eaeaea;

	--terminal-background-color: white;
	--terminal-text-color: var(--normal-text-color);
}

[data-theme=contrast] {
	--subtle-text-color: rgba(255, 255, 255, 0.8);
	--normal-text-color: white;
	--error-text-color: red;

	--preview-background-color: rgba(255, 255, 255, 0.2);
	--hover-overlay-color: white;

	--level-0-color: black;
	--level-1-color: black;
	--level-2-color: #404040;
	--level-3-color: #404040;

	--terminal-background-color: black;
	--terminal-text-color: var(--normal-text-color);

	#remove-element, #remove-command{
		svg { transition: .2s; }
		&:hover svg { opacity: 1; }
	}
}

[data-theme=default]{
	::selection {
		color: rgba(0, 0, 0, 0.7);
		background-color: white;
	}
}

::-webkit-scrollbar { height: 4px; width: 4px; }
::-webkit-scrollbar-track { background-color: transparent; }
::-webkit-scrollbar-thumb { background-color: rgba(128, 128, 128, 0.2); }
::-webkit-scrollbar-thumb:hover { background-color: rgba(128, 128, 128, 0.4); cursor: default; }
::-webkit-scrollbar-corner { background: rgba(128, 128, 128, 0.2); }

* {
	scrollbar-width: thin;
	scrollbar-color: rgba(128, 128, 128, 0.2) transparent;
}

input, textarea, button {
	letter-spacing: -0.05ch;
	font-size: inherit;
	color: inherit;
	background: none;
	border: none;
	outline: none;
	border-radius: 4px;
}

textarea {
	display: block;
	font-size: .8em;
}

button {
	text-transform: uppercase;
	font-weight: 900;
	cursor: pointer;
}

section {
	position: fixed;
	width: 100%;
	height: 100vh;
	bottom: 0;
	right: 0;
	background-color: var(--level-1-color);
	overflow: hidden;
}

[data-tooltip] {
	&::after {
		content: attr(data-tooltip);
		position: absolute;
		bottom: 50%;
		left: 100%;
		display: block;
		padding: 6px 12px;
		border-radius: 4px;
		background-color: var(--level-2-color);
		white-space: nowrap;
		transform: translate(2px, 50%);
		pointer-events: none;
		opacity: 0;
		font-weight: 400;
		font-family: arial, sans-serif;
		color: var(--subtle-text-color);
		transition: .2s;
	}
	&::before {
		content: "";
		position: absolute;
		bottom: 50%;
		left: 100%;
		border: 8px solid transparent;
		border-right-color: var(--level-2-color);
		border-left-width: 0;
		transform: translate(-6px, 50%);
		opacity: 0;
		transition: .2s;
		pointer-events: none;
	}
	&:hover::after{
		transform: translate(8px, 50%);
		opacity: 1;
	}
	&:hover::before{
		transform: translateY(50%);
		opacity: 1;
	}
}

#text-editor {
	transition: opacity .15s linear;
	height: 100%;
	overflow: auto;
	textarea {
		--scroll-height: 50vh;
		width: 100%;
		height: 100vh;
		padding: 2em;
		overflow: hidden;
		box-sizing: border-box;
		background: none;
		&::-webkit-scrollbar { height: 0; width: 0; }
	}
}

#visual-editor {
	transition: width .3s,
		height .3s,
		right .3s,
		bottom .3s;
	border: 12px solid var(--level-3-color);
	border-radius: 12px 0 0 0;
	width: 40%;
	height: 40%;
	cursor: pointer;
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: 0s 0s;
	}
}

.visual-editor {
	#text-editor { opacity: 0; }
	#visual-editor {
		right: -12px;
		bottom: -12px;
		width: 100%;
		height: 100vh;
		cursor: initial;
		&::after {
			left: 100%;
			transition: 0s .3s;
		}
	}
	#actions {
		transform: none;
		transition: transform .2s .2s;
	}
	#bubble-info {
		opacity: 1;
		transform: none;
	}
	#edit-actions:not([hidden]){
		transform: none;
	}
	#edit-style:not([hidden]) {
		transform: translateY(-50%);
	}
}

#actions {
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(-100%);
	transition: none;
	padding: 6px;
	display: flex;
	margin: 0;
	list-style: none;
	background-color: var(--level-2-color);
	border-bottom-right-radius: 30px;
	li { @include iconButton; }
	.dropdown::after { z-index: -1; }
	.dropdown:active::after { opacity: 0.07; }
}

.dropdown {
	ul {
		position: absolute;
		top: 100%;
		left: 50%;
		padding: 6px;
		display: flex;
		flex-direction: column;
		margin: 0;
		list-style: none;
		transform: scale(.95, .5) translate(-50%, -12px);
		transform-origin: 50% 0;
		opacity: 0;
		background-color: var(--level-3-color);
		border-radius: 60px;
		pointer-events: none;
		transition: .3s;
		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			display: block;
			width: 60px;
			height: 60px;
			border-radius: 0 50% 50% 50%;
			background-color: var(--level-3-color);
			transform-origin: 50% 50%;
			transform: rotate(45deg);
		}
	}
	&:hover ul {
		transform: translate(-50%, 6px);
		opacity: 1;
		pointer-events: initial;
	}
	&:hover::before {
		content: "";
		position: absolute;
		height: 100%;
		width: 100%;
		top: 50%;
		left: 0;
	}
}

#actions > li {
	transition: .2s;
	display: block;
	transform: none;
}

#actions > li[hidden] {
	margin-right: -48px;
	transform: translateY(-24px);
	opacity: 0;
}

#actions > li:nth-last-child(1) { transition: .2s .1s, color .2s; }
#actions > li:nth-last-child(1)[hidden]{ transition: .2s 0s, color .2s; }
#actions > li:nth-last-child(2) { transition: .2s 0; }
#actions > li:nth-last-child(2)[hidden]{ transition: .2s .1s; }

#error.shown, #error:hover {
	opacity: 1;
	pointer-events: initial;
	transform: none;
}

#error {
	width: calc(100% - 48px);
	max-width: 500px;
	position: fixed;
	bottom: 24px;
	left: 24px;
	color: var(--error-text-color);
	transition: .4s;
	cursor: pointer;
	padding: 12px 24px;
	border-radius: 8px;
	background-color: var(--level-3-color);
	transform: translateY(36px);
	opacity: 0;
	pointer-events: none;
}

#preview {
	position: absolute;
	width: 50%;
	left: 50%;
	top: 50%;
	--aspect-ratio: 1;
	transform: translate(-50%, -50%);
	background-color: var(--preview-background-color);
	svg {
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	&::after {
		content: "";
		display: block;
		width: 100%;
		pointer-events: none;
		padding-bottom: calc(var(--aspect-ratio) * 100%);
	}
}

#preview.svg-overflow-visible svg:first-child {
	overflow: visible;
}

#bubbles {
	overflow: visible;
	pointer-events: none;
	& * { pointer-events: initial; }
}

#bubbles circle {
	fill: url(#bubble-fill);
	transition: fill .2s;
	opacity: 0.3;
	&:hover { opacity: 0.9; }
	&.active { opacity: 0.9; }
	//&.active + circle:not(:hover) { fill: $nextBubbleColor; }
}

#mouse-coordinates {
	position: absolute;
	pointer-events: none;
	display: block;
	top: 100%;
	color: var(--subtle-text-color);
	white-space: nowrap;
}

#mouse-coordinates[hidden]{ opacity: 0; }
#mouse-coordinates.right { right: 0; }

#bubble-info, #bubble-info[hidden] {
	position: absolute;
	bottom: 0;
	left: 0;
	max-width: 60vw;
	padding: 12px;
	display: flex;
	border-top-right-radius: 16px;
	flex-direction: row;
	transform: translateY(100%);
	opacity: 0;
	background-color: var(--level-2-color);
	transition: opacity .15s 0s,
		transform .15s 0s;
}

#bubble-command {
	display: inline-block;
	border-radius: 4px;
	width: 1.5em;
	text-align: center;
	padding: 6px 12px;
	font-weight: 900;
	cursor: pointer;

}

#bubble-options {
	display: flex;
	flex-direction: row;
	padding: 0;
	margin: 0;
	list-style: none;
	li { margin-left: 6px; }
	input {
		background-color: var(--level-1-color);
		padding: 6px 12px;
		box-sizing: content-box;
		width: 3ch;
		text-align: center;
		line-height: inherit;
		color: var(--text-color);
	}
}

.terminal #terminal {
	left: 0;
	opacity: 1;
	transition: opacity .3s, left 0s;
}

#terminal {
	background-color: var(--terminal-background-color);
	color: var(--terminal-text-color);
	left: 100vw;
	opacity: 0;
	transition: opacity .3s, left 0s .3s;
	cursor: text;
	.error { color: var(--error-text-color); }
	pre {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		flex: 1;
		margin: 0;
		padding: 0 0 2em 0;
		box-sizing: border-box;
		white-space: pre-wrap;
		&::after {
			line-height: 2;
			content: " > ";
			position: absolute;
			left: 0;
			bottom: 0;
		}
	}
	input {
		position: absolute;
		font-family: monospace;
		bottom: 0;
		left: 0;
		height: 2em;
		width: 100%;
		padding: 0 0 0 3ch;
	}
}

#edit-actions {
	position: absolute;
	right: 0;
	top: 0;
	width: 48px;
	padding: 6px;
	display: block;
	transition: .3s;
	background-color: var(--level-2-color);
	border-bottom-left-radius: 30px;
	transform: translateX(100%);
}

#insert-command {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	li { @include iconButton; }
}

#remove-command {
	@include iconButton;
	margin: 16px 0 0;
}

#remove-command::before {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	width: 80%;
	height: 4px;
	border-radius: 2px;
	background-color: var(--level-3-color);
	transform: translate(-50%, -6px);
	transition: .2s;
}

#remove-element:hover, #remove-command:hover { color: var(--error-text-color); }

#remove-command[hidden]{
	margin: 0 0 -48px;
	transform: translateX(24px);
	opacity: 0;
}

#remove-command[hidden]::before {
	transform: translateX(-24px) translate(-50%, -6px);
	opacity: 0;
}

#edit-style, #edit-style[hidden] {
	position: absolute;
	top: 50%;
	left: 0;
	border-radius: 0 16px 16px 0;
	padding: 12px 12px 12px 18px;
	background-color: var(--level-2-color);
	transition: transform .3s;
	display: block;
	transform: translate(-100%, -50%);
	textarea {
		max-width: 60vw;
		max-height: 80vh;
		min-width: 5vw;
		min-height: 5vh;
		width: 200px;
		height: 300px;
		padding: 1em;
		background-color: var(--level-1-color);
		color: var(--text-color);
		&::placeholder { color: var(--subtle-text-color); opacity: 1; }
	}
}
